.home-body{
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #eeeeee;
}

.ultimas-preguntas{
    margin-top:10%;
    margin-bottom: 10%;
    background-color: white;
    padding: 20%;
}

.nuestras-categorias{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 2rem;
}
