@import "./src/scss/_variables.scss";

.container{
    display: flex;
    align-content: stretch;
  }
  /*div{
    height: 200px;
    width: 100%;
    float: left;
  }*/
  
  .login-info{
    float: left;
    width: 100%;
    height: 100vh;
  }
  
  .login-form{
    float: left;
    width: 100%;
    height: 100vh;
  }
  
  .login-form-page{
    background-color: white;
    height: 100vh;
  }
  .login-form-logo{
    height: 35px;
    width: 35px;
  }
  .login-form-header{
    display: flex;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 10%;
  }
  
  .login-form-header div{
    width: 10%;
   }
  .login-form-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  
  .login-form-section{
    margin-top: 5%;  
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .login-form-section input{
    width: 50%;
  }
  .login-form-section * {
    margin-top: 2%;
  }
  .sign-in-button{
    color: white;
    background-color:#fd6f4f;
    border: none;
    border-radius: 0.25rem;
    font: normal normal normal 15px Arial;
    padding: 8px 15px;
    color: #fff;
    width: 20rem;
  }
  
  .sign-in-button:hover{
    cursor: pointer;
    background: darken(#fd6f4f, 5);
  }
  
  input{
    border-radius: 7px;
    height: 20px;
    border: 1px solid #ccc;
  
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    width: 80%;
    margin-top: 10px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    a {
      color: #fd6f4f;
      text-decoration: none;
    }
  }
  a{
    color: #fd6f4f;
    font-weight:'bold';
    margin-left:'10px'
  }

  a:hover{
    cursor: pointer;
  }
  .left-container {
    @include split-container(40%);
    h1 {
      padding: 0;
      margin: 0;
    }
    left: 0;
    background: #fd6f4f;
    text-align: left;
    font: normal normal bold 38px Arial;
    letter-spacing: 0px;
    color: #ffffff;
    border-right: 1px solid rgb(131, 131, 131);
  }