$base-color: #eeeeee;

$small-titles-color: #4c727f;
$small-titles-color-hover: #ffffff;

$small-button-background: #d6dfe4 0% 0% no-repeat padding-box;
$small-button-background-hover: #8aa4b2 0% 0% no-repeat padding-box;
$small-button-background-hover: #8aa4b2 0% 0% no-repeat padding-box;